<div ui-content-for="title">
  <span>FAQ</span>
</div>

<div class="scrollable">
  <div class="scrollable-content section">
      <div class="panel-group" 
        ui-state='myAccordion' 
        ui-default='0'>

        <div class="panel panel-default" ng-repeat="faq in faqs">
          
          <div class="panel-heading" ui-set="{'myAccordion': faq.idx}">
            <h4 class="panel-title">
            	{{faq.subject}}
            </h4>
          </div>
          <div ui-if="myAccordion == {{faq.idx}}">
            <div class="panel-body">
            	<div ng-include src="faq.file"></div>
            </div>
          </div>
        
        </div>
      </div>
  </div>
</div>


<div ui-content-for="navbarAction">
</div>

<div ui-content-for="navbarBottomAction">
	<a href="#/" class="btn btn-navbar"><i class="fa fa-home fa-navbar"></i> HOME</a>
</div>