<div ui-content-for="title">
  <span>Manage</span>
</div>

<div class="scrollable">
<div class="scrollable-content">
  <div class="container-fluid section section-break" id="toggleExample">


	 <div class="list-group">
      <a class="list-group-item" href="#/">Home <i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#/pay">PAY <i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#/orders">ORDER <i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#/rewards">REWARD <i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#/stores">STORES <i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#/messages">MESSAGES <i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#/gift">GIFT <i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#/setting">SETTING <i class="fa fa-chevron-right pull-right"></i></a>
    </div>


  </div>
</div>
</div>
