<div ui-content-for="title">
  <span>Setting</span>
</div>

<div class="scrollable">
  <div class="scrollable-content section">
    <div class="list-group">
    	<a class="list-group-item" href="#/profile">EDIT PROFILE</a>
		<a class="list-group-item" href="#/changepwd">CHANGE PASSWORD</a>
		<a class="list-group-item" href="#/logout">LOGOUT</a>
    </div>

    <div class="list-group">
    	<a class="list-group-item" href="#/guide"> BAAPCHEF GUIDE</a>
		<a class="list-group-item" href="#/about">ABOUT BAAPCHEF</a>
		<a class="list-group-item" href="#/terms">TERM OF USE</a>
		<a class="list-group-item" href="#/policy">PRIVATE POLICY</a>
    </div>

    <div class="list-group">
    	<a class="list-group-item" href="#/">APP VERSION</a>
    </div>    

  </div>
</div>

<div ui-content-for="navbarLeftAction">
	<a class='btn' href="#/"><i class="fa fa-arrow-left"></i></a>
</div>

<div ui-content-for="navbarAction">
</div>   

<div ui-content-for="navbarBottomAction">
</div> 