<div ui-content-for="title">
  <span>Term of Use</span>
</div>

<div class="scrollable">
  <div class="scrollable-content section">
  
  That makes sense for documents, but it’s a pain for application UIs. 
Native application UIs tend to slice up the screen both horizontally and 
vertically into a nested set of panels, some of which may scroll/resize, 
others being docked against particular edges of their parent panes.

  </div>
</div>

<div ui-content-for="navbarLeftAction">
	<a class='btn' href="#/setting"><i class="fa fa-arrow-left"></i></a>
</div>

<div ui-content-for="navbarAction">
</div>

<div ui-content-for="navbarBottomAction">
	<a href="#/" class="btn btn-navbar"><i class="fa fa-home fa-navbar"></i> HOME</a>
</div>