<h2>Enabling touch scrolling</h2>

<p>
The scrolling looks and works fine on a desktop browser, but on a mobile browser it varies:
<ul>
<li>On WP7, you’ll see no scrollbars, but you’ll get one-finger touch scrolling, 
without the lovely inertia/momentum effect. This is kind-of OK, though imperfect.</ul>

<li>On iOS, you’ll see no scrollbars, and it requires two-finger scrolling (which is horrible), and </li>
it won’t use the inertia/momentum effect either. Badness.
<li>There are similar problems on Android</li>
