<h2>OK, so what’s the 21st century solution?</h2>

<p>
I’ve used lots of hacks and tricks over the years to get columns and panes into my web applications, 
often involving JavaScript, $(…).height(…), window.body.clientHeight, and the onresize event. 
Ugh. Fragile and messy. But at long last this week I learned there is actually an elegant and 
robust way to set up nested exact-height panes with pure CSS, and it works on all browsers back to IE 7, 
even on current mobile browsers that *don’t *support position:fixed.
</p>
